/* Global Styling here */

body {
  text-transform: uppercase;
}

.blockies {
  border-radius: 50%;
}

.chakra-emotion-css-o38mw0 {
  border: 5px solid #8C65F7;
  border-right-width: 0px;
  background: rgb(140, 101, 247, 0.5);
  font-weight: bold;
  color: #fff;
  font-size: 1.3rem;
}

.chakra-emotion-css-hfbj6y {
  border: 5px solid #8C65F7;
  border-left-width: 3px;
  background: rgb(140, 101, 247, 0.5);
  color: #fff;
  font-weight: 700;
}

.chakra-emotion-css-1jvl5cx {
  font-weight: bold!important;
  font-size: medium !important;
}

chakra-emotion-css-1khbh7z {
  background: rgb(140, 101, 247, 0.5);
  color: #fff;
  font-weight: 700;
}