/* Global Styling here */

.blockies {
  border-radius: 50%;
}

.react-datepicker__input-container {
  color: black;
}

.chakra-emotion-css-1cjdlnb {
  --spinner-size: 5.5rem !important;
}

.chakra-emotion-css-o38mw0 {
  width: 15rem !important;
  border-color: var(--chakra-colors-purple-200);
  border-width: thick;
  /* background: white;
  color: black; */
}
